:80 {
	encode gzip
	handle /api/* {
		reverse_proxy control-api:8000 {
			flush_interval -1
		}
	}
	handle /agent/* {
		reverse_proxy agent-ingress:8001 {
			flush_interval -1
		}
	}
	handle /health {
		reverse_proxy control-api:8000 {
			flush_interval -1
		}
	}
	handle {
		reverse_proxy ui:4173
	}
}

ghoststack.rideai.com.au {
	encode gzip
	handle /api/* {
		reverse_proxy control-api:8000 {
			flush_interval -1
		}
	}
	handle /agent/* {
		reverse_proxy agent-ingress:8001 {
			flush_interval -1
		}
	}
	handle /health {
		reverse_proxy control-api:8000 {
			flush_interval -1
		}
	}
	handle {
		reverse_proxy ui:4173
	}
}
